.aboutpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightpink; */
    width: 100%;
    height: 1100px;
    /* background-image: url('../Assets//background2.jpg'); */
}
.aboutpageinner{
    padding: 30px;
    margin-top: 50px;
    width: 1000px;
    height: 300px;
    /* margin-top: 50px; */
    /* background-color: lightgreen; */
    color: black;
}
.aboutpageinner p{
    font-size: 20px;
}
.aboutpageservice{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 1060px;
    height: 400px;
    /* background-color: lightsalmon; */
    color: black;
    border: 2px solid darkcyan;
}
.aboutpageservice h5{
    color: black;
    font-size: 30px;
}