.aboutpageservice{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 1150px;
    height: fit-content;
    /* border: 2px solid darkcyan; */
    margin-bottom: 150px;
}
.accordianpage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
}
.aboutpageservice h3{
    color: white;
    font-size: 30px;
}
.sign {
    font-size: 25px;
}
.accordian {
    /* display: flex; */
    width: 100%;
    text-align: start;
    /* border: 1px solid rgb(133, 133, 133); */
}
.accordian-header {
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    width: 1120px;
    color: white;
    /* border: 2px solid rgb(133, 133, 133); */
    /* background-color: rgb(255, 255, 143); */
    border-radius: 5px;
    background-color: darkcyan;
}
.accordian-body {
    background-color: whitesmoke;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    padding: 15px 15px;
}