.App {
  text-align: center;
  /* background-color: black; */
  background-image: url('./Components/Assets/background2.jpg');
}

.logo {
  font-weight: 400;
  color: violet;
  margin-left: 30px;
  /* background-color: aquamarine; */
}

.btnnav {
  visibility: hidden;
}

.navopt {
  display: block;
}

.nav {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 70px;
  position: fixed;
  background: white;
  color: darkcyan;
  transition: all 0.8s;
  z-index: 1000;
  /* background:white; */
  /* background-color: white; */
  /* box-shadow: inset 0px 0px 10px 5px rgba(4, 97, 97, 0.5); */
  /* background-image: linear-gradient(to right,darkcyan, white); */
  /* background-image: linear-gradient(to right,#09203F, #537895); */
}

.nav.active {
  margin-top: 15px;
  width: 850px;
  border-radius: 20px;
  background-color: white;
  color: darkcyan;
  left: 20%;
}

.logo {
  width: fit-content;
  height: fit-content;
  /* background-color: #23c483; */
}

.imaginside {
  height: 65px;
}

.logbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: darkcyan;
  width: 100px;
  height: 40px;
  margin-right: 50px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgb(42, 116, 116);
  transition: all 0.3s ease 0s;
}

.logbtn:hover {
  font-weight: 700;
  background-color: #23c483;
  transform: translateY(-4px);
  text-decoration: none;
  /* color:darkcyan; */
}

.logbtn:active {
  transform: translateY(-1px);
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 60px;
  margin: auto;
  color: darkcyan;
  text-decoration: none;
  /* background-color: thistle; */
}

.nav ul li {
  position: relative;
  /* color: darkcyan; */
  /* color: white; */
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: darkcyan;
  /* text-transform: uppercase; */
}

.nav ul li:hover {
  font-weight: bold;
  /* color:darkcyan; */
  color: #23c483;
  transform: translateY(-4px);
  /* color:white; */
}

.nav ul li:active {
  transform: translateY(-1px);
}

.footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: fit-content;
  /* background-image: url('./Components/Assets/background.jpg'); */
  background-color: black;
  background-size: cover;
}

.footerinner {
  display: flex;
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 1000px;
  height: 400px;
  /* border: 1px solid white; */
  color: white;
  gap: 30px;
}

.footerinner div {
  /* border: 1px solid white; */
  width: 350px;
  height: 350px;
  display: flex;
  /* background-color: rgb(0, 66, 66); */
  border: 1px solid darkcyan;
  /* background-image: linear-gradient(rgb(5, 59, 59),darkcyan); */
  border-radius: 5%;
}

.footeraddress {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  width: 1000px;
  height: fit-content;
  /* border: 1px solid darkcyan; */
  margin-bottom: 160px;
  border-radius: 10px;
}

.footeraddress div {
  /* padding: 10px; */
  margin: 10px;
  border-radius: 1px;
  /* border-bottom: 1px solid darkcyan; */
  height: 100%;
  /* background-color: lightgreen; */
}

.footeraddress1 {
  height: 20px;
  width: 750px;
  font-size: 15px;
}

.footeraddress2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-size: 15px;
}

.footeraddress3 {
  width: fit-content;
  font-size: 15px;
}

.footcol1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footcol1 h4 {
  margin-left: 40px;
  /* color: darkcyan; */
  font-weight: 400;
}

.footcol1ul {
  gap: 20px;
}

.footcol1 ul li {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: flex-start;
  /* margin-left: 60px; */
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  /* background-color: #23c483; */
}

.footcol1 ul li::before {
  margin-right: 10px;
  content: "\00BB";
}

.locationgif {
  margin-right: 10px;
  height: 25px;
}

.locationgif3 {
  margin-right: 10px;
  height: 25px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 15px;
  background-color: rgb(0, 8, 8);
  margin-top: -80px;
  color: white;
}

.currenttab {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* margin-top: 100px; */
  width: 100%;
  height: 140px;
  /* background-color: white; */
  /* background-color: darkcyan; */
  background-image: url('./Components//Assets//background2.jpg');
  /* background-image: linear-gradient(to bottom,darkcyan, white); */
}

.currenttab span {
  margin-right: 25px;
  color: whitesmoke;
  /* color:rgb(0, 83, 83); */
  font-weight: bold;
}



@media only screen and (max-width:480px) {
  .App {
    width: 480px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color:black; */
    /* background-image: none; */
    background-image: url('./Components/Assets/background2.jpg');
  }

  .nav {
    display: flex;
    width: 300px;
    height: fit-content;
    /* margin-top: 20px; */
    background-color: white;
    /* background-color: black; */
    /* background-image: url('./Components/Assets/background.jpg'); */
    /* background-image: linear-gradient(to bottom,rgb(0, 66, 66),darkcyan); */
    /* background-size: cover; */
  }

  .nav.active {
    margin-top: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    color: darkcyan;
    margin-left: -50px;
  }

  .nav ul li {
    display: none;
  }

  .btnnav {
    visibility: visible;
  }

  .logbtn {
    display: none;
  }

  .footer {
    display: none;
  }
}


@media screen and (min-width: 1201px) {

  .App {
    text-align: center;
    /* background-color: black; */
    background-image: url('./Components/Assets/background2.jpg');
  }

  logo {
    font-weight: 400;
    color: violet;
    margin-left: 30px;
    /* background-color: aquamarine; */
  }

  .btnnav {
    visibility: hidden;
  }

  .navopt {
    display: block;
  }

  .nav {
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 70px;
    position: fixed;
    background: white;
    color: darkcyan;
    transition: all 0.8s;
    z-index: 1000;
  }

  .nav.active {
    margin-top: 15px;
    width: 850px;
    border-radius: 20px;
    background-color: white;
    color: darkcyan;
    left: 30%;
  }

  .logo {
    width: fit-content;
    height: fit-content;
  }
  

  .imaginside {
    height: 65px;
  }

  .logbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: darkcyan;
    width: 100px;
    height: 40px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgb(42, 116, 116);
    transition: all 0.3s ease 0s;
  }
  

  .logbtn:hover {
    font-weight: 700;
    background-color: #23c483;
    transform: translateY(-4px);
    text-decoration: none;
    /* color:darkcyan; */
  }
  
  .logbtn:active {
    transform: translateY(-1px);
  }

  .nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 60px;
    margin: auto;
    color: darkcyan;
    text-decoration: none;
  }
  .nav ul li {
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: darkcyan;
  }
  .nav ul li:hover {
    font-weight: bold;
    color: #23c483;
    transform: translateY(-4px);
  }
  .nav ul li:active {
    transform: translateY(-1px);
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: black;
  }
  
  .footerinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: fit-content;
    height: 400px;
    color: white;
    gap: 30px;
  }
  
  .footerinner div {
    width: 350px;
    height: 350px;
    display: flex;
    border: 1px solid darkcyan;
    border-radius: 5%;
  }
  
  .footeraddress {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    width: 1000px;
    height: fit-content;
    margin-bottom: 160px;
    border-radius: 10px;
  }
  
  .footeraddress div {
    margin: 10px;
    border-radius: 1px;
    height: 100%;
  }
  
  .footeraddress1 {
    height: 20px;
    width: 750px;
    font-size: 15px;
  }
  
  .footeraddress2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 15px;
  }
  
  .footeraddress3 {
    width: fit-content;
    font-size: 15px;
  }
  
  .footcol1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .footcol1 h4 {
    margin-left: 40px;
    font-weight: 400;
  }
  
  .footcol1ul {
    gap: 20px;
  }
  
  .footcol1 ul li {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: flex-start;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
  }
  
  .footcol1 ul li::before {
    margin-right: 10px;
    content: "\00BB";
  }
  
  .locationgif {
    margin-right: 10px;
    height: 25px;
  }
  
  .locationgif3 {
    margin-right: 10px;
    height: 25px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 15px;
    background-color: rgb(0, 8, 8);
    margin-top: -80px;
    color: white;
  }

  .currenttab {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 140px;
  }
  
  .currenttab span {
    margin-right: 25px;
    color: whitesmoke;
    font-weight: bold;
  }


}